:root {
    --gap: 40px;

    --w-1: calc( (100% - 12 * var(--gap)) / 12 );
    --w-2: calc( var(--w-1) + var(--gap) + var(--w-1) );
    --w-3: calc( var(--w-2) + var(--gap) + var(--w-1) );
    --w-4: calc( var(--w-3) + var(--gap) + var(--w-1) );
    --w-5: calc( var(--w-4) + var(--gap) + var(--w-1) );
    --w-6: calc( var(--w-5) + var(--gap) + var(--w-1) );
    --w-7: calc( var(--w-6) + var(--gap) + var(--w-1) );
    --w-8: calc( var(--w-7) + var(--gap) + var(--w-1) );
    --w-9: calc( var(--w-8) + var(--gap) + var(--w-1) );
    --w-10: calc( var(--w-9) + var(--gap) + var(--w-1) );
    --w-11: calc( var(--w-10) + var(--gap) + var(--w-1) );
    --w-12: calc( var(--w-11) + var(--gap) + var(--w-1) );

    --ml-1: calc( var(--w-1) + 1.5 * var(--gap) );
    --ml-2: calc( var(--w-2) + 1.5 * var(--gap) );
    --ml-3: calc( var(--w-3) + 1.5 * var(--gap) );
    --ml-4: calc( var(--w-4) + 1.5 * var(--gap) );
    --ml-5: calc( var(--w-5) + 1.5 * var(--gap) );
    --ml-6: calc( var(--w-6) + 1.5 * var(--gap) );
    --ml-7: calc( var(--w-7) + 1.5 * var(--gap) );
    --ml-8: calc( var(--w-8) + 1.5 * var(--gap) );
    --ml-9: calc( var(--w-9) + 1.5 * var(--gap) );
    --ml-10: calc( var(--w-10) + 1.5 * var(--gap) );
    --ml-11: calc( var(--w-11) + 1.5 * var(--gap) );
}

.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}
    .container > .row {
        display: inline-block;
        width: 1400px;
        margin: 5px calc(50% - 700px);
    }
         .col-12,
         .col-11,
         .col-10,
         .col-9,
         .col-8,
         .col-7,
         .col-6,
         .col-5,
         .col-4,
         .col-3,
         .col-2,
         .col-1 {
            display: inline-block;
            float: left;
            margin: 0 calc( var(--gap) / 2 );
        }
        
        .col-12 { width: var(--w-12); }
        .col-11 { width: var(--w-11); }
        .col-10 { width: var(--w-10); }
        .col-9 { width: var(--w-9); }
        .col-8 { width: var(--w-8); }
        .col-7 { width: var(--w-7); }
        .col-6 { width: var(--w-6); }
        .col-5 { width: var(--w-5); }
        .col-4 { width: var(--w-4); }
        .col-3 { width: var(--w-3); }
        .col-2 { width: var(--w-2); }
        .col-1 { width: var(--w-1); }

        .m-l-1 { margin-left: var(--ml-1); }
        .m-l-2 { margin-left: var(--ml-2); }
        .m-l-3 { margin-left: var(--ml-3); }
        .m-l-4 { margin-left: var(--ml-4); }
        .m-l-5 { margin-left: var(--ml-5); }
        .m-l-6 { margin-left: var(--ml-6); }
        .m-l-7 { margin-left: var(--ml-7); }
        .m-l-8 { margin-left: var(--ml-8); }
        .m-l-9 { margin-left: var(--ml-9); }
        .m-l-10 { margin-left: var(--ml-10); }
        .m-l-11 { margin-left: var(--ml-11); }

@media (max-width: 1500px) {
    .container > .row {
        width: 1200px;
        margin: 5px calc(50% - 600px);
    }
    .col-xl-12 { width: var(--w-12); }
    .col-xl-11 { width: var(--w-11); }
    .col-xl-10 { width: var(--w-10); }
    .col-xl-9 { width: var(--w-9); }
    .col-xl-8 { width: var(--w-8); }
    .col-xl-7 { width: var(--w-7); }
    .col-xl-6 { width: var(--w-6); }
    .col-xl-5 { width: var(--w-5); }
    .col-xl-4 { width: var(--w-4); }
    .col-xl-3 { width: var(--w-3); }
    .col-xl-2 { width: var(--w-2); }
    .col-xl-1 { width: var(--w-1); }

    .m-l-xl-1 { margin-left: var(--ml-1); }
    .m-l-xl-2 { margin-left: var(--ml-2); }
    .m-l-xl-3 { margin-left: var(--ml-3); }
    .m-l-xl-4 { margin-left: var(--ml-4); }
    .m-l-xl-5 { margin-left: var(--ml-5); }
    .m-l-xl-6 { margin-left: var(--ml-6); }
    .m-l-xl-7 { margin-left: var(--ml-7); }
    .m-l-xl-8 { margin-left: var(--ml-8); }
    .m-l-xl-9 { margin-left: var(--ml-9); }
    .m-l-xl-10 { margin-left: var(--ml-10); }
    .m-l-xl-11 { margin-left: var(--ml-11); }
}
@media (max-width: 1300px) {
    :root {
        --gap: 30px;
    }
    .container > .row {
        width: 980px;
        margin: 5px calc(50% - 490px);
    }
    .col-lg-12 { width: var(--w-12); }
    .col-lg-11 { width: var(--w-11); }
    .col-lg-10 { width: var(--w-10); }
    .col-lg-9 { width: var(--w-9); }
    .col-lg-8 { width: var(--w-8); }
    .col-lg-7 { width: var(--w-7); }
    .col-lg-6 { width: var(--w-6); }
    .col-lg-5 { width: var(--w-5); }
    .col-lg-4 { width: var(--w-4); }
    .col-lg-3 { width: var(--w-3); }
    .col-lg-2 { width: var(--w-2); }
    .col-lg-1 { width: var(--w-1); }

    .m-l-lg-1 { margin-left: var(--ml-1); }
    .m-l-lg-2 { margin-left: var(--ml-2); }
    .m-l-lg-3 { margin-left: var(--ml-3); }
    .m-l-lg-4 { margin-left: var(--ml-4); }
    .m-l-lg-5 { margin-left: var(--ml-5); }
    .m-l-lg-6 { margin-left: var(--ml-6); }
    .m-l-lg-7 { margin-left: var(--ml-7); }
    .m-l-lg-8 { margin-left: var(--ml-8); }
    .m-l-lg-9 { margin-left: var(--ml-9); }
    .m-l-lg-10 { margin-left: var(--ml-10); }
    .m-l-lg-11 { margin-left: var(--ml-11); }
}
@media (max-width: 1080px) {
    :root {
        --gap: 20px;
    }
    .container > .row {
        width: 768px;
        margin: 5px calc(50% - 384px);
    }
    .col-md-12 { width: var(--w-12); }
    .col-md-11 { width: var(--w-11); }
    .col-md-10 { width: var(--w-10); }
    .col-md-9 { width: var(--w-9); }
    .col-md-8 { width: var(--w-8); }
    .col-md-7 { width: var(--w-7); }
    .col-md-6 { width: var(--w-6); }
    .col-md-5 { width: var(--w-5); }
    .col-md-4 { width: var(--w-4); }
    .col-md-3 { width: var(--w-3); }
    .col-md-2 { width: var(--w-2); }
    .col-md-1 { width: var(--w-1); }

    .m-l-md-1 { margin-left: var(--ml-1); }
    .m-l-md-2 { margin-left: var(--ml-2); }
    .m-l-md-3 { margin-left: var(--ml-3); }
    .m-l-md-4 { margin-left: var(--ml-4); }
    .m-l-md-5 { margin-left: var(--ml-5); }
    .m-l-md-6 { margin-left: var(--ml-6); }
    .m-l-md-7 { margin-left: var(--ml-7); }
    .m-l-md-8 { margin-left: var(--ml-8); }
    .m-l-md-9 { margin-left: var(--ml-9); }
    .m-l-md-10 { margin-left: var(--ml-10); }
    .m-l-md-11 { margin-left: var(--ml-11); }
}
@media (max-width: 860px) {
    :root {
        --gap: 10px;
    }
    .container > .row {
        width: 480px;
        margin: 5px calc(50% - 240px);
    }
    .col-sm-12 { width: var(--w-12); }
    .col-sm-11 { width: var(--w-11); }
    .col-sm-10 { width: var(--w-10); }
    .col-sm-9 { width: var(--w-9); }
    .col-sm-8 { width: var(--w-8); }
    .col-sm-7 { width: var(--w-7); }
    .col-sm-6 { width: var(--w-6); }
    .col-sm-5 { width: var(--w-5); }
    .col-sm-4 { width: var(--w-4); }
    .col-sm-3 { width: var(--w-3); }
    .col-sm-2 { width: var(--w-2); }
    .col-sm-1 { width: var(--w-1); }

    .m-l-sm-1 { margin-left: var(--ml-1); }
    .m-l-sm-2 { margin-left: var(--ml-2); }
    .m-l-sm-3 { margin-left: var(--ml-3); }
    .m-l-sm-4 { margin-left: var(--ml-4); }
    .m-l-sm-5 { margin-left: var(--ml-5); }
    .m-l-sm-6 { margin-left: var(--ml-6); }
    .m-l-sm-7 { margin-left: var(--ml-7); }
    .m-l-sm-8 { margin-left: var(--ml-8); }
    .m-l-sm-9 { margin-left: var(--ml-9); }
    .m-l-sm-10 { margin-left: var(--ml-10); }
    .m-l-sm-11 { margin-left: var(--ml-11); }
}
@media (max-width: 580px) {
    .container > .row {
        width: 100%;
        margin: 0;
    }
    .col-xs-12 { width: var(--w-12); }
    .col-xs-11 { width: var(--w-11); }
    .col-xs-10 { width: var(--w-10); }
    .col-xs-9 { width: var(--w-9); }
    .col-xs-8 { width: var(--w-8); }
    .col-xs-7 { width: var(--w-7); }
    .col-xs-6 { width: var(--w-6); }
    .col-xs-5 { width: var(--w-5); }
    .col-xs-4 { width: var(--w-4); }
    .col-xs-3 { width: var(--w-3); }
    .col-xs-2 { width: var(--w-2); }
    .col-xs-1 { width: var(--w-1); }

    .m-l-xs-1 { margin-left: var(--ml-1); }
    .m-l-xs-2 { margin-left: var(--ml-2); }
    .m-l-xs-3 { margin-left: var(--ml-3); }
    .m-l-xs-4 { margin-left: var(--ml-4); }
    .m-l-xs-5 { margin-left: var(--ml-5); }
    .m-l-xs-6 { margin-left: var(--ml-6); }
    .m-l-xs-7 { margin-left: var(--ml-7); }
    .m-l-xs-8 { margin-left: var(--ml-8); }
    .m-l-xs-9 { margin-left: var(--ml-9); }
    .m-l-xs-10 { margin-left: var(--ml-10); }
    .m-l-xs-11 { margin-left: var(--ml-11); }
}


